<h1>Blog Log</h1>
<hr>
<h2>No items found</h2>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel-heading">
     	<div class="text-center">
       	<%= image_tag "notfound2.jpg", :align => "center" , :class => "img img-rounded img-responsive" %>
      </div>
    </div>
  </div>
</div>

<hr>
<p id = "newart">
  | <%= link_to 'Back', class: "btn btn-md btn-primary" , controller: 'articles' %> |
</p>
<p class="pull-right"><a href="#">Back to top</a></p>