<h1>Blog Log</h1>
<hr>
<h2>No items found</h2>

<p id = "nf"><%= image_tag "notfound2.jpg" %></p>
<hr>
<p id = "newart">
  | <%= link_to 'Back', class: "btn btn-md btn-primary" , controller: 'articles' %> |
</p>
<p class="pull-right"><a href="#">Back to top</a></p>