@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 70px;
  padding-left: 0px;
  /*background: linear-gradient(black,lightgray);*/
  /*background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));*/
  background: url(bg.jpg) black;
  /*background-repeat: no-repeat;*/
  opacity: 1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 30px;
}

#welbut {
  text-align: center;
}

#nf {
  text-align: center; 
}

.well {
  width:160px;
  height:220px;
  overflow:auto;
}


/* for placing a scrollbar for timeline same logic to be applied for any scrollbar*/
#jright {
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
  /*height: 1000px;*/
  /*width: 980px; */
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: white;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  
  font-weight: normal;
  color: white;
}

#timeline {
  
}

.verticalLine {
  border-left: 1px solid skyblue;
}

#hrstyler {

}


.authortitle {
  display:inline-block;
}

.credate {
  display:inline-block;
  padding-left: 10px;
  color: lightseagreen;
  font-size: 0.9em;
}

#newart {
  text-align: center;
}

#edlink {
  background-color: green;
}

#creartback {
  text-align: center;
}

#optgro {
  
}

#editback {
  text-align: center;
}

#blogo {
  padding-top: 10px;
}

.link-color{
  color: "red";
}

table,  td {
  border: 0.5px solid black;
}

table {
  width: 100%;
}

#optgro .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 8px 5px 6px 6px;
  border: solid #3498db 0px;
  text-decoration: none;
}

#optgro .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

th {
  background-color: orangered;
  color: black;
  height: 40px;
  text-align: center;
}

td {
  padding: 5px;
}

#sear {
  padding-top: 9px;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: gray;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 2px;
  border-top: 1px solid gray;
  color: #777;
}

footer a {
  color: #555;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid orangered;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing;*/
  color:black;
}

form {
  align: "center";
}

#submit{
  width: 8em;  height: 2em;
  text-align: center;
}

#comsubmit{
  width: 8em;  height: 2em;
  text-align: center;
}

.center {
  margin: auto;
  width: 60%;
  border:3px solid #8AC007;
  padding: 10px;
}


div {
  color: white;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}